<div class="fondo">
  <h1 class="heading">¡Bienvenido!</h1>

  <p class="text-center text-access">Acceso rápido</p>
  <div class="buttons-container">
    <button class="btn" (click)="handleQuickAccess('admin@admin.com','111111')">
      🤠 Admin
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('invitado@invitado.com','222222')"
    >
      🥸 Invitado
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('usuario@usuario.com','333333')"
    >
      😎 Usuario
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('anonimo@anonimo.com', '444444')"
    >
      😋 Anónimo
    </button>
    <button
      class="btn"
      (click)="handleQuickAccess('tester@tester.com', '555555')"
    >
      👻 Tester
    </button>
  </div>

  <div class="separator"></div>
  <p class="text-center">Ingresa tus datos</p>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="inputContainer">
      <i class="fa fa-at" aria-hidden="true"></i>
      <input
        id="email"
        formControlName="email"
        type="text"
        class="inputField"
        placeholder="Correo electrónico"
        (input)="onInputChange()"
      />
    </div>

    <div class="inputContainer">
      <i class="fa fa-key" aria-hidden="true"></i>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="inputField"
        placeholder="Contraseña"
        (input)="onInputChange()"
      />
    </div>

    <button id="button" type="submit">Iniciar sesión</button>
    <p
      class="text-center text-danger"
      *ngIf="errorMessage && errorMessage.length"
    >
      {{ errorMessage }}
    </p>
  </form>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#009fb7"
  type="line-scale-pulse-out-rapid"
  [fullScreen]="true"
  ><p style="color: #009fb7">Cargando...</p></ngx-spinner
>
