<ion-content>
  <div class="container">
    <swiper-container
      effect="cover-flow"
      pagination="false"
      centered-slides="true"
      slides-per-view="auto"
      coverflow-effect-rotate="0"
      coverflow-strech="0"
      coverflow-effect-depth="200"
      coverflow-effect-modifier="1"
      coverflow-effect-slide-shadows="false"
      autoplay-delay="1000"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide *ngFor="let slide of slides">
        <img [src]="slide" alt="Imagen" />
      </swiper-slide>
    </swiper-container>
    <h2>Fabiola Suárez - División B</h2>
  </div>
</ion-content>
