<ion-header [translucent]="true">
  <ion-toolbar color="black" class="header-title">
    <img src="assets/icons_logo.png" alt="iconos logo" class="logo" />
    <ion-button
      class="logout-button"
      fill="clear"
      slot="end"
      (click)="handleLogout()"
    >
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="background">
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="light">
        <img src="assets/{{selectedLanguage}}.png" alt="{{selectedLanguage}}" />
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          color="light"
          (click)="selectLanguage('SPANISH')"
          [ngClass]="{'selected': selectedLanguage === 'SPANISH'}"
        >
          <img src="assets/SPANISH.png" alt="Español" />
        </ion-fab-button>
        <ion-fab-button
          color="light"
          (click)="selectLanguage('ENGLISH')"
          [ngClass]="{'selected': selectedLanguage === 'ENGLISH'}"
        >
          <img src="assets/ENGLISH.png" alt="Inglés" />
        </ion-fab-button>
        <ion-fab-button
          color="light"
          (click)="selectLanguage('PORTUGUESE')"
          [ngClass]="{'selected': selectedLanguage === 'PORTUGUESE'}"
        >
          <img src="assets/PORTUGUESE.png" alt="Portugués" />
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="light">
        <img src="assets/{{selectedTheme}}.png" alt="{{selectedTheme}}" />
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          color="light"
          (click)="selectTheme('COLORS')"
          [ngClass]="{'selected': selectedTheme === 'COLORS'}"
        >
          <img src="assets/COLORS.png" alt="Colores" />
        </ion-fab-button>
        <ion-fab-button
          color="light"
          (click)="selectTheme('NUMBERS')"
          [ngClass]="{'selected': selectedTheme === 'NUMBERS'}"
        >
          <img src="assets/NUMBERS.png" alt="Números" />
        </ion-fab-button>
        <ion-fab-button
          color="light"
          (click)="selectTheme('ANIMALS')"
          [ngClass]="{'selected': selectedTheme === 'ANIMALS'}"
        >
          <img src="assets/ANIMALS.png" alt="Animales" />
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <div class="container-button" *ngIf="selectedTheme && selectedLanguage">
      <ng-container *ngFor="let item of audioItems">
        <ion-button
          class="button-ion"
          fill="clear"
          (click)="handlePlayAudio(selectedTheme === 'ANIMALS' ? item.animal.audio : selectedTheme === 'NUMBERS' ? item.number.audio : item.color.audio)"
        >
          <img
            *ngIf="selectedTheme === 'ANIMALS'"
            src="assets/{{item.animal.image}}"
            alt="{{item.animal.alt}}"
          />
          <img
            *ngIf="selectedTheme === 'NUMBERS'"
            src="assets/{{item.number.image}}"
            alt="{{item.number.alt}}"
          />
          <img
            *ngIf="selectedTheme === 'COLORS'"
            src="assets/{{item.color.image}}"
            alt="{{item.color.alt}}"
          />
        </ion-button>
      </ng-container>
    </div>
  </div>
</ion-content>
